# dependencies
node_modules

# build output
dist
build

# environment variables
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage
coverage

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

/public/uploads/*